<%= render template: "layouts/headbar" %>
<div class="container">
  <%= render 'shared/breadcrumb' %>
  <div class="well">
    <p class="lead">Edit Seat</p>
    <%= render 'form' %>
    <%= link_to 'Back', theatre_screen_seats_path(@theatre, @screen, @seat) %>
  </div>
</div>
