<%= render 'layouts/headbar'%>
<div class="container">
  <%=render 'layouts/breadcrumb'%>
  <div class="well">
    <p class="lead">Add New Seat</p>
    <%= render 'form' %>
    <%= link_to 'Back', theatre_screen_seats_path(@theatre, @screen, @seat) %>
  </div>
</div>
