<%= render 'layouts/headbar'%>
<div class="container">
  <%=render 'layouts/breadcrumb'%>
  <div class="well">
    <p class="lead">Add New Movie</p>
    <%= render 'form' %>
    <%= link_to 'Back', movies_path %>
  </div>
</div>
