<%= render template: "layouts/headbar" %>
<div class="container">
  <%= render 'shared/breadcrumb' %>
  <div class="well">
    <p class="lead">Create New Screen</p>
    <%= render 'form' %>
    <%= link_to 'Back', theatre_screens_path(@theatre) %>
  </div>
</div>
