<div class="well">
		<p class="lead">Select Theatre...</p>
		<div style="margin-top: 25px;"></div>
		<div class="row">
			<div class="">
				<div class="col-xs-12 col-md-12 list-group">
					<a href="" class="col-xs-12 col-md-12 category-heading list-group-item active">Select Theatre</a>
					<% @theatres.each do |theatre| %>
					<a href="theater_movies/<%=theatre.id%>" class="col-xs-12 col-md-12 list-group-item" style="text-overflow: ellipsis;">
						<%= theatre.name %>
						<span class="pull-right"><%= theatre.address %>,<%= theatre.city %></span>
					</a>
					<% end %>
				</div>
			</div>
		</div>
</div>
