<style type="text/css">
body{
	background: url("images/home.JPG") !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}
h1,p{
	color: #fff;

}
</style>
<center>
	<%= render "layouts/headbar" %>
	<h1>Welcome To BookMyCinema</h1>
	<% if current_user.role == "admin" %>
	<p>Book Movie Ticket Online & get Discount!!</p>
	<% end %>

	<% if user_signed_in? %>
	<li>
		<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
	</li>
	<% else %>
	<li>
		<%= link_to('Login', new_user_session_path)  %>
	</li>
	<% end %>
</center>

