@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require font-awesome
*= require_self
*/

* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background: #fdfdfd !important;
  -webkit-font-smoothing: antialiased !important;
}

/* user actions page */
.login-container{
  max-height: 385px;
  width: 400px;
  padding: 24px;
  background-color: #f5f5f5;
  color: #444;
  border: 1px solid #b1b1b1;
  border-radius: 2px;
  text-align: center;
  margin: 40px auto;
}

.signup-container{
  max-height: 780px;
  width: 400px;
  padding: 24px;
  background-color: #f5f5f5;
  color: #444;
  border: 1px solid #b1b1b1;
  border-radius: 2px;
  text-align: center;
  margin: 40px auto;
}
.forgot-password-container{
  max-height: 330px;
  width: 400px;
  padding: 24px;
  background-color: #f5f5f5;
  color: #444;
  border: 1px solid #b1b1b1;
  border-radius: 2px;
  text-align: center;
  margin: 40px auto;
}
.resend-confirmation-instructions{
  max-height: 340px;
  width: 400px;
  padding: 24px;
  background-color: #f5f5f5;
  color: #444;
  border: 1px solid #b1b1b1;
  border-radius: 2px;
  text-align: center;
  position: absolute;
  margin: 40px auto;
}

/* custom navbar */
.globalnav{
  top: 0;
  right: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 52px;
  max-height: 46px;
  background: rgba(0, 0, 0, 0.8011);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-font-smoothing: antialiased !important;
  box-sizing: content-box;
  pointer-events: auto;
  letter-spacing: normal;
  padding: 0;
}
.globalnav:hover{
  cursor: pointer;
  background: rgba(0, 0, 0, 0.7609);
}
.globalnav-content{
  margin: 0 auto;
  max-width: 980px;
  padding: 0 24px;
  position: relative;
}
.globalnav-item-holder{
  display: inline-block;
  position: relative;
  height: 46px;
  vertical-align: top;
}
.globalnav-item{
  font-size: 18px;
  color: #fff;
  height: 48px;
  margin-top: 8px;
  cursor: default;
}

/* home  page */
.container{
  width: 89.9999%;
}
.category-heading{
  color: #a1a1a1;
  font-weight: lighter;
  text-align: center;
  background: rgba(0, 0, 0, 0.61) !important;
  border: 0px;
  cursor: default;
}

/* new booking */
td > input[type=checkbox]{
  margin-left: 6px;
}
td > input[type=checkbox] + label{
  background: url('/images/seat_selected.png') 0 0px no-repeat;
  background-size: 50%;
  height: 50px;
  width: 50px;
  display: inline-block;
  padding: 25px 0 0 7px;
}
td > input[type=checkbox]:checked + label{
  background: url('/images/seat_booked.png') 0 0px no-repeat;
  background-size: 50%;
  height: 50px;
  width: 50px;
  display:inline-block;
  padding: 25px 0 0 7px;
}
/* Devise error messages */
#error_explanation{
  font-size: 14px;
  color: red;
}
